body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
}

input, select, button {
    padding: 10px;
    margin: 10px;
}

button {
    background: #38bdf8;
    border: none;
}
